{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>This is a Home Page</h2>
            <p>This is some text</p>
        </div>
    </div>
</div>
{{end}}